
.carousel-container {
  position: relative;
  width: 90%;
  max-width: 10000px;
  margin: 40px auto;
  overflow: hidden;
}

.image-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  transition: transform 0.5s ease;
 
}

.left-column {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}

.image-layout img {
  width: 100%;
  height: 100%;
  object-fit: cover;
   border: 1px solid black;
}

.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255,255,255,0.6);
  border: none;
  padding: 10px 15px;
  color: #111;
  font-size: 22px;
  cursor: pointer;
  border-radius: 50%;
  transition: background 0.3s ease;
  z-index: 10;
}

.nav-btn:hover {
  background-color: rgba(255,255,255,0.9);
}

.left-btn {
  left: 10px;
}

.right-btn {
  right: 10px;
}

/* Responsive */
@media (max-width: 768px) {
  .image-layout {
    grid-template-columns: 1fr;
  }
  .left-column {
    grid-template-rows: 1fr 1fr;
  }
}
